<!--Project #3 Dice Roller (displayed in unit 2 of projects page)-->
<div class="media">
  <img src="/Assets/images/DiceRoller.png" width="40%" class="align-self-center mr-3" alt="Image of a Dice Roller web app">
  <div class="media-body">
    <h5 class="display-4">Dice Roller</h5>
    <p class="lead">A simple and fun dice roller web application. The application was created using
     HTML, CSS, JavaScript and CreateJS. For making the app interactive, sound effects
      have been implemented using the Ticker and preload objects of CreateJS.
       Te role performed by me in this project is that of a solo creator.</p>
  </div>
</div>