<!--Project #1 Music Player (displayed in unit 2 of projects page)-->
<div class="media">
  <img src="/Assets/images/MusicPlayer.png" width="40%" class="align-self-center mr-3" alt="Image of a Music Player">
  <div class="media-body">
    <h5 class="display-4">Music Player</h5>
    <p class="lead">An elegant and simple music player written in C#. As can be seen, functionality includes
    play, pause, forward, reverse, music and creeating and editing playlists as needed.
    My role in this project was to mainly code, debug and test the working of the program.</p>
  </div>
</div>