<!--Project #2 Slot Machine (displayed in unit 3 of projects page)-->
<div class="media">
  <div class="media-body">
    <h5 class="display-4">Slot Machine</h5>
    <p class="lead">A progressive web application where users can play to win a jackpot.
    The app was written using JavaScript, HTML, and CSS. Thankfully, our 
    professor Tom had helped us a lot for this project. My role in this
    project was to get the app up and running.</p>
  </div>
  <img src="/Assets/images/SlotMachine.png" id="SlotMachine" width="40%" class="align-self-center mr-3" alt="Image of a Slot Machine web app" style="float: right; padding-right: 50px;">

</div>